body {
    background-color: #f8f9fa;
  }
  #map {
    height: 60vh;
    border: 1px solid #ddd;
  }
  
  .welcome-container {
    background: linear-gradient(to right, #007bff, #6c757d);
    color: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 50px 20px;
    margin: 20px auto;
    max-width: 900px;
  }
  
  .welcome-container h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .welcome-container p {
    font-size: 1.25rem;
  }
  
  .welcome-container a {
    transition: all 0.3s ease-in-out;
  }
  
  .welcome-container a:hover {
    background-color: #0056b3;
    color: #fff;
    transform: translateY(-2px);
  }
  